html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(35,37,84, 1);
}
a{
  text-decoration: none;
}

nav {
  width: 450px;
  height: 350px;
  --bgcolor: yellow;
  background-color: var(--bgcolor);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 0;
}


.myInput
{
  height: 30px;width: 310px; border:20px;background:red;  border-radius: 8px; color:white;font-weight: 700;font-size: 30px
}



nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.ps
{
  font-size: 28px;
  font-family: serif;
  color: darkred;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.5s ease-out;
  cursor: pointer;
}

nav ul li {
  font-size: 28px;
  font-family: serif;
  color: darkred;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.5s ease-out;
  cursor: pointer;
}
nav ul li:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1);
  transform: scale(1.02) translateY(-0.25em) perspective(300px) rotateX(5deg);
}
.myBut
{
  margin-top: 5px;	/* 按钮顶部与输入框的距离 */
  width: 80px;
  height: 35px;
  color: white;	/* 按钮字体颜色 */
  border: 0; /* 删除按钮边框 */
  border-radius: 20px;	/* 按钮圆角边 */
  background-image: linear-gradient(to right, red 0%,  yellow 33%,black 66%, rgb(18, 213, 18) 100%);	/* 按钮颜色 */
}
